.registro-container {
  width: 90%;
  margin: 30px auto;
  background: #f7f9fc;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registro-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.tipo-selector {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 15px;
}

.tipo-selector button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  background: #e0e0e0;
  color: #555;
}

.tipo-selector button.active {
  background: #2a4672;
  color: white;
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
}

.tipo-selector button:hover:not(.active) {
  background: #d1d5db;
}

.registro-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.registro-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #444;
}

.registro-form input,
.registro-form select,
.registro-form textarea {
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.registro-form select {
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;

  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='18' width='18' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
  padding-right: 42px;
}

.registro-form textarea,
.registro-form h3,
.registro-form hr,
.registro-form button,
.concepto-select-container,
.resumen-dia {
  grid-column: span 2;
}

.registro-form input:focus,
.registro-form select:focus,
.registro-form textarea:focus {
  border-color: #939fc2;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.registro-form textarea {
  min-height: 60px;
  resize: vertical;
}

.form-group-registro {
  display: flex;
  flex-direction: column;
}

.mensaje {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.mensaje.error {
  color: #e11d48;
  background-color: #fef2f2;
}

.mensaje.success {
  color: #16a34a;
  background-color: #f0fdf4;
}

.volver-btn {
  margin-top: 25px;
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #f3f4f6;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.volver-btn:hover {
  background-color: #e5e7eb;
  border-color: #999;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.registro-container h3 {
  margin-bottom: 10px;
  color: #555;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modal-content h3 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  margin-top: 12px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  flex: 1;
}

.modal-buttons button:first-child {
  background-color: #888888;
  color: white;
  margin-right: 10px;
}

.modal-buttons button:last-child {
  background-color: #2a4672;
  color: white;
}


.concepto-select-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.concepto-select {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.2s;
}

.concepto-select:focus {
  border-color: #4a90e2;
  outline: none;
}

.btn-nuevo-concepto {
  padding: 9px 9px;
  background-color: transparent;
  color: #173669;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, transform 0.1s ease;
}

.btn-nuevo-concepto:hover {
  background-color: #1d4381;
  color: #e6eaef;
}

.btn-nuevo-concepto:active {
  transform: scale(0.95);
}

.resumen-dia {
  background-color: #ffffff;
  border: 1px solid #f4efef;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}

.resumen-dia h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.resumen-dia p {
  margin: 4px 0;
  font-size: 1rem;
  color: #555;
  font-weight: bold
}

.resumen-dia p:nth-child(2) {
  color: rgb(80, 150, 80);
  font-weight: bold;
}

.resumen-dia p:nth-child(3) {
  color: rgb(204, 46, 46);
  font-weight: bold;
}

.btn-submit-registro {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .btn-submit-registro {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .registro-form {
    grid-template-columns: 1fr;
  }

  .registro-form textarea,
  .registro-form h3,
  .registro-form hr,
  .registro-form button,
  .concepto-select-container,
  .resumen-dia {
    grid-column: span 1;
  }
}

@media (max-width: 600px) {
  .modal-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .modal-buttons button:first-child {
    margin-right: 0;
  }
}